# template profile.d PieHelper autologin scripts
#
# By Davy Keppens on 08/10/18
#

PH_APP_USER=''							# The application to launch
PH_APP_CMD=''							# The full path of the start script used to launch the application
PH_APP_TTY=''							# The TTY the application will start on

if [[ "$USER" == "$PH_APP_USER" && "$(tty 2>/dev/null)" == "/dev/${PH_APP_TTY}" ]]
then
	${PH_APP_CMD}
fi
